*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: silver;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
}
.menu,.container{
    max-width: 1100px;
    margin: 0 auto;
}
.collapse-menu{
    list-style: none;
    display: flex;
    gap:1rem;
}
.form-input-group{
    position: relative;
    max-width: 200px;
}
.form-input-group label{
    cursor: pointer;
    width: 100%;
    display: block;
}
.form-input-group input{
    appearance: none;
    position: relative;
    display: none;
}
.form-input-group label::before{
    content: '';
    height: 14px;
    width: 30px;
    background-color: #ddd;
    border-radius: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.5s ease;
}
.form-input-group label::after{
    content: '';
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
}

.form-input-group input:checked + label::before{
    background-color: blue;
}
.form-input-group input:checked + label::after{
    right: 2px;
}
.form-input-group input + label .light{
    display: none;
}
.form-input-group input:checked + label .dark{
    display: none;
}
.form-input-group input:checked + label .light{
    display: inline-block;
}
.dark-body{
    background-color: #222;
}

/* Images page CSS */
.image-section{
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    display: flex;
    flex-direction: column;
}
.image-section img{
    /* height: 100%; */
    width: 100%;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    object-fit: cover;
    object-position: top;
}
.image-section::-webkit-scrollbar{
    display: none;
}


/* Calculator page CSS */
.calculator-container{
    min-height: 100vh;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    /* height: 400px; */
    width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 10px #0002;
    padding: 1rem;
}
.answer-section{
    height: 70px;
    width: 100%;
    border-radius: 0.35rem;
    padding: 0 0.75rem;
    border: 1px solid #ddd;
    text-align: right;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 70px;
    user-select: none;
    overflow-x: auto;
    overflow-y: hidden;
}
.calculator-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-top: 0.7rem;
}
.calculator-buttons span{
    padding: 15px;
    border-radius: 0.25rem;
    border: 1px solid #0001;
    display: grid;
    place-items: center;
    cursor: pointer;
    opacity: 0.7;
}
.calculator-buttons span:hover{
    background-color: #eee;
    opacity: 1;
}
.calculator-buttons span#clear{
    grid-column: span 2;
    background-color: #f00;
    color: #fff;
}
.calculator-buttons span#add{
    grid-row: span 2;
    background-color: #00f;
    color: #fff;
}
.calculator-buttons span#equals{
    background-color: aqua;
}

/* Animated name css */
.animated-container{
    height: 100vh;
    width: 100%;
    background-color: #35a;
    display: flex;
    align-items: center;
    justify-content: center;
}
#myName{
    animation: fill 0.5s ease forwards 3.5s;
}
#myName path:nth-child(1){
    stroke-dasharray: 343px;
    stroke-dashoffset: 343px;
    animation: stroke-anim 2s ease forwards;
}
#myName path:nth-child(2){
    stroke-dasharray: 386px;
    stroke-dashoffset: 386px;
    animation: stroke-anim 2s ease forwards 0.3s;
}
#myName path:nth-child(3){
    stroke-dasharray: 340px;
    stroke-dashoffset: 340px;
    animation: stroke-anim 2s ease forwards 0.6s;
}
#myName path:nth-child(4){
    stroke-dasharray: 221px;
    stroke-dashoffset: 221px;
    animation: stroke-anim 2s ease forwards 0.9s;
}
#myName path:nth-child(5){
    stroke-dasharray: 417px;
    stroke-dashoffset: 417px;
    animation: stroke-anim 2s ease forwards 1.2s;
}
#myName path:nth-child(6){
    stroke-dasharray: 258px;
    stroke-dashoffset: 258px;
    animation: stroke-anim 2s ease forwards 1.5s;
}
#myName path:nth-child(7){
    stroke-dasharray: 386px;
    stroke-dashoffset: 386px;
    animation: stroke-anim 2s ease forwards 1.8s;
}
#myName path:nth-child(8){
    stroke-dasharray: 427px;
    stroke-dashoffset: 427px;
    animation: stroke-anim 2s ease forwards 2.1s;
}
#myName path:nth-child(9){
    stroke-dasharray: 386px;
    stroke-dashoffset: 386px;
    animation: stroke-anim 2s ease forwards 2.4s;
}
#myName path:nth-child(10){
    stroke-dasharray: 435px;
    stroke-dashoffset: 435px;
    animation: stroke-anim 2s ease forwards 2.7s;
}
#myName path:nth-child(11){
    stroke-dasharray: 374px;
    stroke-dashoffset: 374px;
    animation: stroke-anim 2s ease forwards 3s;
}
#myName path:nth-child(12){
    stroke-dasharray: 374px;
    stroke-dashoffset: 374px;
    animation: stroke-anim 2s ease forwards 3.3s;
}

@keyframes stroke-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: #fff;
    }
}


/* New css css */
.d-site-flex{
    display: flex;
    gap:1rem;
    margin-top: 1rem;
}
.site-card{
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0001;
    width: 100%;
}
.site-card:has(h4){
    background-color: silver;
}

.site-card:has(p){
    background-color: aquamarine;
}
.site-card:has(p:empty){
    background-color: rebeccapurple;
}